* {
  font-family: apple-system;
  margin: 0;
}

body {
  background-color: #08a093b0;
  color: #fff;
}

.main nav{
  position:relative;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #0000008e;
  padding: 20px;
  margin: 0;
  
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

nav li {
  list-style-type: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: system-ui, -apple;
  background-color: transparent;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: none;
  display: block;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  margin: 0;
}

.nav-left a:hover {
  background-color: #08a093;
  padding: 9px;
  border-radius: 0.4rem;
  padding: 15px;
  color: rgba(9, 250, 9, 0.747);
  transition: 0.7s all ease-in-out 90ms;
  /* border: rgba(205, 238, 199, 0.781) 0.1rem solid; */
  box-shadow: #070808cc 0px 0.3rem 5pc 0.1rem;
}

.navicon a:hover {
  background-color: #0d12142a;
  padding: 0.9rem;
  border-radius: 0.4rem;
  /* padding: 0 15px; */
  color: rgba(9, 250, 9, 0.747);
  transition: 0.5s all ease-in-out 90ms;
  /* border: rgba(205, 238, 199, 0.781) 0.1rem solid; */
  box-shadow: #198d8df6 0px 0.3rem 25pc 4rem;
}

.navicon a {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-indent: -10000px;
  width: 8px;
}

a.ins {
  background: url(..//images/1_Instagram_colored_svg_1-128.webp) no-repeat
    center;
  background-size: 60%;
  aspect-ratio: 3/5;
  object-fit: contain;
}

a.tt {
  background: url(..//images/1_Twitter_colored_svg-128.webp) no-repeat center;
  background-size: 80%;
}

a.lin {
  background: url(..//images/1_Linkedin_unofficial_colored_svg-128.webp)
    no-repeat center;
  background-size: 80%;
}

.portions {
  margin: 20px;
}

article {
  flex: 0 1 35%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #000000ef;
}
article h2{
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
  }

  nav li {
    flex: 1 1 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-left,
  .navicon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    flex-wrap: wrap;
    flex-grow: 3;
    flex-basis: 4;
  }

  .portions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article{
    flex: 0 1 32%;
    transform: matrix(333);
  }

  article{
    flex: 0 1 100%;
  }
  
}
