* {
  font-family: verdana;
  margin: 0;
}

body {
  display: flex;
  background-color: rgb(2, 2, 31);
}

.wrapper {
  width: 100%;
  background: #f1f1f1;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  margin-left: 2rem;
  margin-top: 1rem;
  transition: 0.9s all ease-in-out 0.1s ;
}
.flex-container {
  flex-wrap: wrap-reverse;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* flex-flow: row-reverse; */
  /* flex-flow: column; */
  /* flex-flow: nowrap; */
  /* flex-flow: row; */
  /* flex-flow: wrap-reverse; */
  /* flex-flow: column-reverse; */
  background-color: rgba(2, 1, 10, 0.788);
  /* margin-bottom: 5rem; */
  /* margin-top: 20rem; */
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: inherit; */
  transition: 0.9s all ease-in-out 0.1s ;
}

.box {
  flex-grow: 2;
  /* flex-basis: 28.4pc; */
  height: 100px;
  width: 10rem;
  background-color: #fff;
  margin-top: 1rem;
  transition: 0.1s all ease-in-out 0.3s;
  /* border: black 0.1rem solid;
  box-shadow: #13141469 0px 0.3rem 10pc 0.1px; */
  margin: 0rem;
}

.one {
  /* flex-grow: 1; */
  /* flex-shrink: 0.5; */
  background-color: #f01d1d;
  transition: 1.2s all ease-in-out 0.9s;
}

.two {
  /* flex-grow: 3; */
  /* flex-shrink: 0.1; */
  flex-wrap: nowrap;
  background-color: #0fc470;
  transition: 1s all ease-in-out 0.9s;
}

.three {
  /* flex-grow: 1; */
  /* flex-shrink: 0.5; */
  flex-wrap: nowrap;
  background-color: #0b15cfef;
  transition: 0.9s all ease-in-out 0.9s;
}